  
  .main-child {
    display: inline-block;
    font: normal 1em/1em Times;
    position: relative;
  }
    
  .main-child>a {
    padding: 10px 10px 5px 10px;
    color:  rgb(0,0,204);
  }
  
  .dropdown-child a {
      color: rgb(0,0,255);
  }
  
  .dropdown-child {
    position: absolute;
    padding: 5px;
    font: normal 1em/2.1em Times;
    box-shadow: 0 0 7px rgb(0,0,0);
    position: absolute;
    top: 22px;
    display: none;
  }
  
  .dropdown-child>li {
    padding: 0 10px 0 5px;
  }
  
  .main-child:hover > a {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 7px rgb(0,0,0);
    text-decoration: none;
    color: rgb(0,0,0);
    background-color: white;
  }
  
  .dropdown-child > a:hover {
    background-color:  rgb(55,171,255);
    color: white;
  }
    
  .main-child:hover .dropdown-child{
    display: block;
  }
  
  .main-child:hover::after {
    content: '';
    width: 100%; height: 10px;
    position: absolute;
    bottom: -11px;
    left: 0;
    background-color: white;
  }