body {
    background-color: #4e6379;
    font-family: sans-serif;
  }
  
  .hosting {
    display: flex;
    width: 600px;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    background: white;
    box-shadow: 0 30px 50px -10px black;
  }
  
  a {
    padding: 5px 10px;
    display: inline-block;
    color: white;
    font-size: 0.8em;
    background-color: #f5663b;
  }

  p {
    font-size: 0.9em;
  }

  .hosting > div {
    width: 200px;
    text-align: center;
  }
  
  .cloud {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
  }
  
  .hosting > div > div {
    width: 64px;
    height: 44px;
    display: inline-block; 
  }
  
  .shared div{
    background: url('C:/Users/Александр/Documents/xt_net_web/xt-epam-2019-frontendTasks/Task8.5/task5.png') no-repeat;
  }

  .cloud div {
    background: url('C:/Users/Александр/Documents/xt_net_web/xt-epam-2019-frontendTasks/Task8.5/task5.png') no-repeat;
    background-position: 0 -44px; 
  }
  
  .ded div {
    background: url('C:/Users/Александр/Documents/xt_net_web/xt-epam-2019-frontendTasks/Task8.5/task5.png') no-repeat;
    background-position: 0 -86px;
  }
  
  h1 {
    color: #f5663b;
    font-size: 0.9em;
  }