body{
  background: rgba(32, 32, 32, 0.781);
}
div{
  background: repeating-linear-gradient(to bottom, yellow, orange, transparent 20px, transparent 20px);
  width: 45px;
  margin-right: 5px;
 border-radius: 5px 5px;
  vertical-align: bottom;
  display: inline-block;
}
/*сделать коло6нки родителями, состоящими из блоков, каждый блок прописать*/
.em1 { height: 120px; }
.em2 { height: 60px; }
.em3 { height: 180px; }
.em4 { height: 220px; }
.em5 { height: 100px; }
.em6 { height: 60px; }


